a.active {
    color: var(--bixola-base) !important;
}
.header-bg{
    background-color: #0d121e !important;
}
.main-header{
    position: fixed !important;
}
.language{
    margin-right:25px
}
.language .sub-menu{
    padding: 8px !important;
    min-width: 140px !important;
}
.team-one__content {
  background-color: var(--bixola-base) !important;
}

.portfolio-one__img:before {
  background: #8D8F94 !important;
} 
img{
   user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}